.tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tooltip ul li {
    margin: 2px 0;
}

#oneC{
	background-attachment: local;
				      background-image:
				          linear-gradient(to right, white 10px, transparent 10px),
				          linear-gradient(to left, white 10px, transparent 10px),
				          repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
				      line-height: 31px;
				      padding: 8px 10px;
				      border:none;
				      outline: none;
				      border-radius: 5px; /* Rounded corners */
				      width: 100%; /* Full width */
				      height: 100%; 
				      resize: none; /* Disable resizing */
				      font-family: monospace; /* Font style */
	
}