body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    display: inline-block;
}

.intro-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.start-game-gif {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.start-game-gif:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.top-left-gif {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.second-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
}

.second-image {
    width: 800px;
    height: 400px;
    object-fit: fit;
}

.close-button {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.game-background {
    background-image: url('images/start.png');
    background-size: contain;
    background-position: top center 20px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.verb-display {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 20px 0;
    color: #2a2a2a;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 100px;
    display: flex;
    left: -160px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.past-icon {
    width: 40px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    left: 80px;
    bottom: 170px;
    transform: rotate(90deg);
}

.present-icon {
    width: 40px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    left: 275px;
    bottom: 210px;
    transform: translate(-50%, 50%);
}

.future-icon {
    width: 40px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    left: 410px;
    bottom: 170px;
    transform: rotate(-90deg);
}

.timer {
    position: fixed;
    bottom: 80px;
    right: 70px;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.final-score-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

.final-score-image {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.final-score {
    position: absolute;
    top: 59%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.mute-button {
    position: absolute;
    bottom: 44px;
    left: 20px;
    z-index: 1000;
}

.mute-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}