body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/*=============Intro Game Section*/

.image-container {
    position: relative;
    display: inline-block;
}

.intro-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.start-game-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.start-game-gif:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.top-left-gif {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.second-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
}

.second-image {
    width: 800px;
    height: 400px;
    object-fit: fit;
}

.close-button {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

/*===Start Game ====*/

.game-background {
    background-image: url('images/start.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}


.text-container {
    width: 259px;
    height: 119px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.4;
    background-color: transparent;
    color: black;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    white-space: normal;
    position: fixed;
    bottom: 115px;
    left: 64%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: center;
}

.timer {
    position: fixed;
    bottom: 90px;
    left: 95px;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

/*===End Game ====*/

.final-score-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

.final-score-image {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.final-score {
    position: absolute;
    top: 59%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: black;
}

/*====Mute Icons====*/
.mute-icon {
    position: absolute;
    /* Relative to the parent container */
    bottom: 42px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

.mute-icon img {
    width: 50px;
    height: 50px;
}




/*===Games ====*/

@keyframes pop-in {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    font-size: 2.5rem;
    color: #333;
    background: -webkit-linear-gradient(45deg, #ff6f61, #de6262);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.sentence {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 30px;
    margin-top: -110px;
    line-height: 1.8;
    letter-spacing: 0.5px;
}

.word {
    cursor: pointer;
    padding: 8px 12px;
    margin: 0 5px;
    display: inline-block;
    background: #ffed85;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    color: #333;
    transform: scale(1);
}

.word:hover {
    background: #f5cf43;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.word:active {
    background: #e17055;
    color: white;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .sentence {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
}